html,
body {
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
.frontpagewrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 3em;
}
.typedString {
  color: black;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  line-height: 40px;
  margin: 10px;
  font-size: 1rem;
}
.hi,
.letstalk {
  width: 100%;
  margin: 10px;
  z-index: 99;
  text-align: center;
}
.not-found-wrapper {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.sadface,
.not-found-text {
  font-size: 1.5rem;
  font-weight: 600;
  height: 50vh;
}
@media screen and (min-width: 412px) {
  .typedString,
  .letstalk,
  .hi {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
